<div class="col-md-10 col-md-offset-1">
    <a href="#/" class="btn btn-sm btn-default"><i class="fa fa-angle-left"></i></a>
    <form novalidate name="addGuidelineForm" ng-submit="viewModel.addGuideline()">
        <div class="form-group">
            <label for="number">Number</label>
            <input class="form-control"
                   type="number"
                   id="number"
                   name="number"
                   ng-model="viewModel.newGuideline.number"
                   required />
            <span ng-show="addGuidelineForm.number.$error.required"
                  class="text-warning">
                The Number is required.
            </span>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control"
                   type="text"
                   id="name"
                   name="name"
                   ng-model="viewModel.newGuideline.name"
                   required ng-minlength="10" />
            <span ng-show="addGuidelineForm.name.$error.required"
                  class="text-warning">
                The Name is required.
            </span>
            <span ng-show="addGuidelineForm.name.$error.minlength"
                  class="text-warning">
                The Name must be at least 10 characters.
            </span>
        </div>
        <div class="form-group">
            <label for="datePublished">Date Published</label>
            <input class="form-control"
                   type="date"
                   id="datePublished"
                   name="datePublished"
                   ng-model="viewModel.newGuideline.datePublished"
                   required />
            <span ng-show="addGuidelineForm.datePublished.$error.required"
                  class="text-warning">
                The Date published is required.
            </span>
        </div>
        <div class="form-group">
            <input type="submit"
                   value="Add"
                   class="btn btn-success btn-sm"
                   ng-disabled="addGuidelineForm.$invalid" />
        </div>
    </form>
</div>