<div class="col-md-10 col-md-offset-1">
    <div class="text-danger" ng-show="vm.errorMessage">{{ vm.errorMessage }}</div>
    <wait-cursor display-when="vm.processing"></wait-cursor>
    <form class="form-horizontal" novalidate name="editGuidelineForm" ng-submit="vm.editGuideline()">
        <div class="form-group">
            <label for="number" class="col-md-1 form-label">Number</label>
            <div class="col-md-11">
                <input class="form-control"
                       type="number"
                       id="number"
                       name="number"
                       ng-model="vm.guideline.number"
                       required />
                <span ng-show="editGuidelineForm.number.$error.required"
                      class="text-warning">
                    The Number is required.
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-md-1 form-label">Name</label>
            <div class="col-md-11">
                <input class="form-control"
                       type="text"
                       id="name"
                       name="name"
                       ng-model="vm.guideline.name"
                       required ng-minlength="10" />
                <span ng-show="editGuidelineForm.name.$error.required"
                      class="text-warning">
                    The Name is required.
                </span>
                <span ng-show="editGuidelineForm.name.$error.minlength"
                      class="text-warning">
                    The Name must be at least 10 characters.
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="datePublished" class="col-md-1 form-label">Published</label>
            <div class="col-md-11">
                <input class="form-control"
                       type="date"
                       id="datePublished"
                       name="datePublished"
                       ng-model="vm.guideline.datePublished"
                       required />
                <span ng-show="editGuidelineForm.datePublished.$error.required"
                      class="text-warning">
                    The Date published is required.
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="status" class="col-md-1 form-label">Status</label>
            <div class="col-md-11">
                <select class="selectpicker" id="status" name="status" ng-model="vm.guideline.status" convert-to-number required>
                    <option value="1">Current < 3 years</option>
                    <option value="2">Current 3 - 7 years</option>
                    <option value="3">> 7 years</option>
                    <option value="4">Withdrawn</option>
                    <option value="5">Recommendations being updated</option>
                </select>
                <span ng-show="editGuidelineForm.status.$error.required"
                      class="text-warning">
                    The Status is required.
                </span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit"
                   value="Save"
                   class="btn btn-success btn-sm"
                   ng-disabled="editGuidelineForm.$invalid" />

            <a href="#/" class="btn btn-sm btn-default"><i class="fa fa-angle-left"></i> Back to Guidelines</a>

        </div>
    </form>
</div>