@{
    ViewBag.Title = "About Page";
}
<div class="col-md-10 col-md-offset-1">
    <h3>About the SIGN Guidelines application</h3>
    <p>The Scottish Intercollegiate Guidelines Network (SIGN) develops evidence based clinical practice guidelines for the National Health Service (NHS) in Scotland. SIGN guidelines are derived from a systematic review of the scientific literature and are designed as a vehicle for accelerating the translation of new knowledge into action to meet the aim of reducing variations in practice, and improving patient-important outcomes. </p>
    <p>This application was designed to allow the storage of the guidelines using a data model stored in SQL Server database, and accessed via the entity framework core.</p>
    <p>The user interface has been developed using AngularJS and a web api developed using .NET Core and ASP.NET core.</p>
</div>