@{
    ViewBag.Title = "Guidelines";
}

@section Scripts{
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/controls.js"></script>
    <script src="~/js/app-guidelines.js"></script>
    <script src="~/js/guidelinesController.js"></script>
    <script src="~/js/guidelineService.js"></script>
    <script src="~/js/addGuidelineController.js"></script>
    <script src="~/js/viewGuidelineController.js"></script>
    <script src="~/js/editGuidelineController.js"></script>
}
<div ng-app="app-guidelines">
    <div ng-view></div>
</div>