@model SIGN.Angular.ViewModels.GuidelinesViewModel
@{
    ViewBag.Title = "My Guidelines";
}

<h3>My Guidelines</h3>
<p>Guidelines Authored by @User.Identity.Name</p>
    @foreach (var guideline in Model.Guidelines)
    {
        <div class="form-group">
            <a asp-controller="App" asp-action="Guideline" asp-route-id="@guideline.Id" class="btn btn-block btn-sm btn-default">
                <b>SIGN @guideline.Number</b><h4>@guideline.Name</h4>
            </a>
        </div>
    }
