@using SIGN.Domain.Enums
@using SIGN.MVC.ViewModels
@model GuidelineViewModel
@{
    ViewBag.Title = "Add Guideline";
}

<div class="col-md-10 col-md-offset-1">
    <h3>Add New Guideline</h3>
    <form asp-action="AddGuideline" method="post" class="form-horizontal">
        <div class="form-group">
            <label for="number" class="col-md-1 form-label">Number</label>
            <div class="col-md-11">
                <input class="form-control"
                       type="number"
                       id="number"
                       name="number"
                       asp-for="Number"
                       required />
                <span asp-validation-for="Number" class="text-warning">The Number is required.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-md-1 form-label">Name</label>
            <div class="col-md-11">
                <input class="form-control" 
                       type="text" 
                       id="name" 
                       name="name" 
                       asp-for="Name" 
                       required/>
                <span asp-validation-for="Name" class="text-warning">The Name is required.</span>
                @*<span ng-show="addGuidelineForm.name.$error.minlength"
                            class="text-warning">
                        The Name must be at least 10 characters.
                    </span>*@
            </div>
        </div>
        <div class="form-group">
            <label for="datePublished" class="col-md-1 form-label">Published</label>
            <div class="col-md-11">
                <input class="form-control" 
                       type="date" 
                       id="datePublished" 
                       name="datePublished" 
                       asp-for="DatePublished" 
                       required />
                <span asp-validation-for="DatePublished" class="text-warning">The Date published is required.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="status" class="col-md-1 form-label">Status</label>
            <div class="col-md-11">
                <select class="selectpicker" id="status" name="status" asp-for="Status" required>
                    <option value="1">Current < 3 years</option>
                    <option value="2">Current 3 - 7 years</option>
                    <option value="3">> 7 years</option>
                    <option value="4">Withdrawn</option>
                    <option value="5">Recommendations being updated</option>
                </select>
                <span asp-validation-for="Status" class="text-warning">The Status is required.</span>
            </div>
        </div>
        <div>
            <input type="submit" class="btn btn-success btn-sm" value="Save" />
            <a asp-controller="Guideline" asp-action="AllGuidelines" class="btn btn-sm btn-default"><i class="fa fa-angle-left"></i> Back to Guidelines</a>
        </div>
    </form>
</div>