@using SIGN.Domain.Enums
@using SIGN.MVC.ViewModels
@model GuidelineViewModel
@{
    ViewBag.Title = "Edit Guideline";
}

<div class="col-md-10 col-md-offset-1">
    <h3>Edit Guideline</h3>
    <form action="/guideline/edit" method="post" class="form-horizontal" asp-antiforgery="true" novalidate>
        <input name="Id"
               id="Id"
               type="hidden"
               asp-for="Id" />
        <div class="form-group">
            <label for="number" class="col-md-1 form-label">Number</label>
            <div class="col-md-11">
                <input class="form-control" 
                       type="number"
                       id="number"
                       name="number"
                       asp-for="Number"
                       required />
                <span asp-validation-for="Number" class="text-warning"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-md-1 form-label">Name</label>
            <div class="col-md-11">
                <input class="form-control"
                       type="text"
                       id="name"
                       name="name"
                       asp-for="Name"
                       required ng-minlength="10" />
                <span asp-validation-for="Name" class="text-warning"></span>

                @*<span ng-show="addGuidelineForm.name.$error.minlength"
                            class="text-warning">
                        The Name must be at least 10 characters.
                    </span>*@
            </div>
        </div>
        <div class="form-group">
            <label for="datePublished" class="col-md-1 form-label">Published</label>
            <div class="col-md-11">
                <input class="form-control"
                       type="date"
                       id="datePublished"
                       name="datePublished"
                       asp-for="DatePublished"
                       asp-format="{0:dd/MM/yyyy}"
                       required />
                <span asp-validation-for="DatePublished" class="text-warning"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="status" class="col-md-1 form-label">Status</label>
            <div class="col-md-11">
                <select class="selectpicker" id="status" name="status" asp-for="Status" required>
                    <option value="1">Current < 3 years</option>
                    <option value="2">Current 3 - 7 years</option>
                    <option value="3">> 7 years</option>
                    <option value="4">Withdrawn</option>
                    <option value="5">Recommendations being updated</option>
                </select>
                <span asp-validation-for="Status" class="text-warning"></span>
            </div>
        </div>
        <div>
            <input type="submit" class="btn btn-success btn-sm" value="Save" />
            <a asp-controller="Guideline" asp-action="AllGuidelines" class="btn btn-sm btn-default"><i class="fa fa-angle-left"></i> Back to Guidelines</a>
        </div>
    </form>
</div>