.page-header{
  text-align: center;
  border-bottom: none; 
  margin-top: 12px;   
}

.sign-number {
  text-align: center;
  font-size:48px;
}

.sign-heading {
  margin-top:15px;
}

sign-label {
  font-size: large;
  font-weight: 600;
}

sign-text {
  font-size: large
}

.main-content {
    padding-bottom: 28px;
}

.form-label {
    text-align:left;
}

#step .panel {
    border-radius: 4px;
}

#stepDetail .panel {
    border-radius: 4px;
}

.headshot {
    max-width: 50px;
    border: 1px solid#222;
    padding: 3px;
}

#sidebar {
    background: #2a2c36;
    color: #eee;
    position: fixed;
    height: 100%;
    width: 250px;
    overflow: hidden;
    left: 0;
    margin: 0;
    -moz-transition: left ease .25s;
    -o-transition: left ease .25s;
    -webkit-transition: left ease .25s;
    transition: left ease .25s;
}

    #sidebar.hide-sidebar {
        left: -250px;
        -moz-transition: left ease .25s;
        -o-transition: left ease .25s;
        -webkit-transition: left ease .25s;
        transition: left ease .25s;
    }

#wrapper {
    margin: 0 0 0 250px;
    -moz-transition: margin-left ease .25s;
    -o-transition: margin-left ease .25s;
    -webkit-transition: margin-left ease .25s;
    transition: margin-left ease .25s;
}

    #wrapper.hide-sidebar {
        margin-left: 0;
        -moz-transition: margin-left ease .25s;
        -o-transition: margin-left ease .25s;
        -webkit-transition: margin-left ease .25s;
        transition: margin-left ease .25s;
    }

    /* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 4px;
    margin: 4px 0px 0px;
    width: 100%;
    text-align: left;
    border: solid;
    border-width: thin;
    border-color:darkgray ;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.accordion-panel {
    /*padding: 0 18px;*/
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}