@model SIGN.ViewModels.GuidelineViewModel
@{
    ViewBag.Title = "Guideline Details";
}

<div class="row">
    <div class="col-md-8">
        <h3>Guideline details</h3>
        <form>
            <div class="form-group">
                <label asp-for="Number">Number</label>
                <input asp-for="Number" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="DatePublished">Date Published</label>
                <input asp-for="DatePublished" class="form-control" readonly />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <h3>Assessments</h3>
            @foreach (var assessment in Model.Assessments)
            {
                <div class="form-group">
                    <a asp-controller="App" asp-action="Assessment" asp-route-id="@assessment.Id" class="btn btn-block btn-info">
                        @assessment.Name
                    </a>
                </div>
            }
    </div>
</div>