@{ 
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h3>SIGN Guidelines</h3>
        <p>Welcome text</p>
        <a app-controller="App" asp-action="Guidelines" class="btn btn-lg success">Go to Guidelines</a>
    </div>
</div>
